<section>
  <div class="example-button-row">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        autocomplete
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink="auto">auto</a></li>
        <li><a class="dropdown-item" routerLink="display">display</a></li>
        <li><a class="dropdown-item" routerLink="filter">filter</a></li>
        <li><a class="dropdown-item" routerLink="optgroup">optgroup</a></li>
        <li><a class="dropdown-item" routerLink="overview">overview</a></li>
        <li><a class="dropdown-item" routerLink="plain input">plain input</a></li>
        <li><a class="dropdown-item" routerLink="simple">simple</a></li>
      </ul>
      <button mat-raised-button color="primary" routerLink="bottom sheet">bottom sheet</button>
      <button mat-raised-button color="accent" routerLink="button">button</button>
      <button mat-raised-button color="warn" routerLink="button toggle">button toggle</button>
      <button mat-raised-button routerLink="badge">Badge</button>
      <button mat-raised-button color="primary" routerLink="expansion panel">expansion panel</button>
      <button mat-raised-button color="accent" routerLink="divider">divider</button>
      <button mat-raised-button color="warn" routerLink="chips">chips</button>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        datepicker
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink="date range picker comparison">date range picker comparison</a></li>
        <li><a class="dropdown-item" routerLink="date range picker overview">date range picker overview</a></li>
        <li><a class="dropdown-item" routerLink="actions">actions</a></li>
        <li><a class="dropdown-item" routerLink="custom icon">custom icon</a></li>
        <li><a class="dropdown-item" routerLink="filter">filter</a></li>
      </ul>
      <button mat-raised-button color="primary" routerLink="dialog">dialog</button>
      <button mat-raised-button color="accent" routerLink="dialog content">dialog content</button>
      <button mat-raised-button color="warn" routerLink="dialog data">dialog data</button>
      <button mat-raised-button color="accent" routerLink="bottom sheet">bottom sheet</button>
      <button mat-raised-button color="warn" routerLink="buttom toggle">buttom toggle</button>
      <button mat-raised-button routerLink="card">card</button>
      <button mat-raised-button color="primary" routerLink="checkbox">checkbox</button>
      <button mat-raised-button color="accent" routerLink="form field">form field</button>
      <button mat-raised-button color="warn" routerLink="grid list">grid list</button>
      <button mat-raised-button routerLink="icon">icon</button>
      <button mat-raised-button color="primary" routerLink="input">input</button>
      <button mat-raised-button color="accent" routerLink="list">list</button>
      <button mat-raised-button color="warn" routerLink="menu">menu</button>
      <button mat-raised-button routerLink="progress spinner">progress spinner</button>
      <button mat-raised-button color="primary" routerLink="radio button">radio button</button>
      <button mat-raised-button color="accent" routerLink="ripples">ripples</button>
      <button mat-raised-button color="warn" routerLink="select">select</button>
      <button mat-raised-button routerLink="sidenav">sidenav</button>
      <button mat-raised-button color="primary" routerLink="slide toggle">slide toggle</button>
      <button mat-raised-button color="accent" routerLink="slider">slider</button>
      <button mat-raised-button color="warn" routerLink="snackbar">snackbar</button>
      <button mat-raised-button routerLink="sort header">sort header</button>
      <button mat-raised-button color="primary" routerLink="stepper">stepper</button>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        table
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink="table basic">table basic</a></li>
        <li><a class="dropdown-item" routerLink="table column styling">table column styling</a></li>
        <li><a class="dropdown-item" routerLink="table dynamic array data">table dynamic array data</a></li>
        <li><a class="dropdown-item" routerLink="table dynamic columns">table dynamic columns</a></li>
        <li><a class="dropdown-item" routerLink="table expandable rows">table expandable rows</a></li>
        <li><a class="dropdown-item" routerLink="table filtering">table filtering</a></li>
        <li><a class="dropdown-item" routerLink="table flex">table flex</a></li>
        <li><a class="dropdown-item" routerLink="table footer row">table footer row</a></li>
        <li><a class="dropdown-item" routerLink="table http">table http</a></li>
        <li><a class="dropdown-item" routerLink="table overview">table overview</a></li>
        <li><a class="dropdown-item" routerLink="table pagination">table pagination</a></li>
        <li><a class="dropdown-item" routerLink="row binding">row binding</a></li>
        <li><a class="dropdown-item" routerLink="row context">row context</a></li>
        <li><a class="dropdown-item" routerLink="table selection">table selection</a></li>
        <li><a class="dropdown-item" routerLink="table sorting">table sorting</a></li>
        <li><a class="dropdown-item" routerLink="table sticky complex flex">table sticky complex flex</a></li>
      </ul>
      <button mat-raised-button color="accent" routerLink="tabs">tabs</button>
      <button mat-raised-button color="warn" routerLink="toolbar">toolbar</button>
      <button mat-raised-button color="primary" routerLink="tooltip">tooltip</button>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        tree
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink="tree dynamic">tree dynamic</a></li>
        <li><a class="dropdown-item" routerLink="tree checklist">tree checklist</a></li>
        <li><a class="dropdown-item" routerLink="tree flat">tree flat</a></li>
        <li><a class="dropdown-item" routerLink="tree loadmore">tree loadmore</a></li>
        <li><a class="dropdown-item" routerLink="tree nested overview">tree nested overview</a></li>
      </ul>
    </div>
  </div>

</section>
