.example-button {
  display: block;
  margin: 80px auto 400px;
}

.example-container {
  height: 200px;
  overflow: auto;
  border: 1px solid #ccc;
}

.example-tooltip-uppercase {
  text-transform: uppercase;
}

.mat-form-field + .mat-form-field,
.mat-raised-button {
  margin-left: 8px;
}

.example-user-input {
  margin-right: 8px;
}

button.demo-button {
  width: 500px;
  height: 500px;
}

.example-enabled-checkbox {
  margin-left: 8px;
}
