<!-- Tooltip that demonstrates auto-hiding when it clips out of its scrolling container. -->
<mat-form-field appearance="fill">
  <mat-label>Tooltip position</mat-label>
  <mat-select formControl="position">
    <mat-option *ngFor="let positionOption of positionOptions" [value]="positionOption">
      {{positionOption}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="example-container" cdkScrollable>
  <button mat-raised-button #tooltip="matTooltip"
          matTooltip="Info about the action"
          [matTooltipPosition]="position.value!"
          matTooltipHideDelay="100000"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container"
          class="example-button">
    Action
  </button>
</div>
<hr>

<!-- Tooltip that can have a custom class applied. -->
<button mat-raised-button
        matTooltip="Info about the action"
        matTooltipClass="example-tooltip-uppercase"
        aria-label="Button that shows a red tooltip"
        class="example-button">
  Uppercase-tooltip Action
</button>
<hr>

<!-- Tooltip with a show and hide delay -->
<mat-form-field class="example-user-input" appearance="fill">
  <mat-label>Show delay</mat-label>
  <input matInput type="number" (formControl)="showDelay"
         aria-label="Adds a delay between hovering over the button and displaying the tooltip">
  <mat-hint>milliseconds</mat-hint>
</mat-form-field>

<mat-form-field class="example-user-input" appearance="fill">
  <mat-label>Hide delay</mat-label>
  <input matInput type="number" (formControl)="hideDelay"
         aria-label="Adds a delay between hovering away from the button and hiding the tooltip">
  <mat-hint>milliseconds</mat-hint>
</mat-form-field>

<button mat-raised-button matTooltip="Info about the action"
        [matTooltipShowDelay]="showDelay.value"
        [matTooltipHideDelay]="hideDelay.value"
        aria-label="Button that displays a tooltip with a customized delay in showing and hiding">
  Action
</button>
<hr>

<!-- Tooltip that can be disabled -->
<button mat-raised-button
        matTooltip="Info about the action"
        [matTooltipDisabled]="disabled.value"
        aria-label="Button that displays a tooltip that can be programmatically disabled">
  Action
</button>

<mat-checkbox formControl="disabled" class="example-disabled-checkbox">
  Tooltip disabled
</mat-checkbox>
<hr>

<!-- Tooltip that can be manually shown/hidden. -->
<div>
  <span> Click the following buttons to... </span>
  <button mat-button
          (click)="tooltip.show()"
          aria-label="Show tooltip on the button at the end of this section"
          class="example-action-button">
    show
  </button>
  <button mat-button
          (click)="tooltip.hide()"
          aria-label="Hide tooltip on the button at the end of this section"
          class="example-action-button">
    hide
  </button>
  <button mat-button
          (click)="tooltip.toggle()"
          aria-label="Show/Hide tooltip on the button at the end of this section"
          class="example-action-button">
    toggle show/hide
  </button>
</div>

<button mat-raised-button #tooltip="matTooltip"
        matTooltip="Info about the action"
        matTooltipPosition="right"
        aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
  Action
</button>
<hr>

<!-- Tooltip with a changing message -->
<mat-form-field class="example-user-input" appearance="fill">
  <mat-label>Tooltip message</mat-label>
  <input matInput (formControl)="message">
</mat-form-field>

<button mat-raised-button
        [matTooltip]="message.value || ''"
        aria-label="Button that displays a tooltip with a custom message">
  Action
</button>
<hr>

<!-- Basic tooltip -->
<button mat-raised-button
        class="demo-button"
        matTooltip="Info about the action"
        [matTooltipPositionAtOrigin]="enabled.value"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button>

<mat-checkbox (formControl)="enabled" class="example-enabled-checkbox">
  Position at origin enabled
</mat-checkbox>
<hr>

<!-- Tooltip with a custom position -->
<mat-form-field class="example-user-input" appearance="fill">
  <mat-label>Tooltip position</mat-label>
  <mat-select formControl="position">
    <mat-option *ngFor="let positionOption of positionOptions1" [value]="positionOption">
      {{positionOption}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button
        matTooltip="Info about the action"
        [matTooltipPosition]="position.value!"
        aria-label="Button that displays a tooltip in various positions">
  Action
</button>
